*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{font-size:14px;}

body{color: rgb(43, 48, 114);}

/* header */

header{
    text-align: center;
}

h1{
    font-family: 'Cormorant Garamond', serif;
    font-size: 3rem;
}

.header-top, .header-bottom{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height:80px;
}

.header-top{
    margin-bottom:20px;
}

.header-bottom{
    justify-content: space-between;
    padding:0 10%;
}

.box-container{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width:35%;
}

.box{
    border: 1px solid rgb(43, 48, 114);
    width:100%;
    padding:5px 20px;
    margin-top:10px;
}

.caption{
    font-family: 'Roboto', sans-serif;
    font-size:1rem;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.box-txt{
    font-size:2rem;
    font-family: 'Roboto Mono', monospace;
}

.smiley{
    display: inline-block;
    width:40px;
    margin: 0 5%;
    animation: spin 3s linear infinite;
}

@keyframes spin { 
    from { 
        transform: rotate(0deg); 
    } to { 
        transform: rotate(360deg); 
    }
}


/* Main */

main{
    height: calc(100vh - 180px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-box{
    background-color: rgb(43, 48, 114);
    color: rgb(255, 255, 255);
    width: 80%;
    height: 80%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h2.caption{
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 300;
    letter-spacing: 0.5px;
    margin: 20px 0;
    width: 100%;
}

#bombArray{
    width:15px;

    word-wrap: break-word;
    text-align: center;
    line-height: 1.5;
    font-weight:300;
}

/* Media queries */

@media screen and (min-width:1920px){
    h2.caption, #bombArray {font-size: 1.5rem;}
    #bombArray {width: 25px;}
}

@media screen and (min-width:1200px){
    .header-bottom {justify-content: center;}
    .smiley {margin: 0 5%;}
    .box-container {width: 20%;}
}